<br />

<div class="row">
  <div class="col">
    <h1 class="display-6">Parameters</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <input type="text" class="form-control" value="https://api.openaq.org/v1/parameters" readonly="readonly">
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <ng-template [ngIf]="!loading">
      <app-data-table [rows]="parameters" [columns]="dataTableColumns()" [total]="found"></app-data-table>
    </ng-template>
  </div>
</div>
